# Base URLs (Do not include trailing slashes)
BASE_URL_SID=https://example.telkomcare.com/mrtg/sid
BASE_URL_GRAPH=https://example.telkomcare.com/mrtg/graph

# Timeouts & Waits (Seconds)
WAIT_TIMEOUT=10
LONG_TIMEOUT=30
LOGIN_WAIT=60

# Retries
MAX_RETRIES=3
MAX_GRAPH_RETRIES=2
